name: "Checkout"


on:
  workflow_call:
    inputs:
      flutter-channel:
        type: string
        required: false
        default: 'stable'
      flutter-version:
        type: string
        required: false
        default: '3.35.7'
      line-length:
        type: number
        required: false
        default: 80
      pub-cache-name:
        type: string
        required: false
        default: pub
      threshold:
        type: number
        required: false
        default: 50
  workflow_dispatch:
    inputs:
      flutter-channel:
        type: string
        required: false
        default: 'stable'
        description: 'The Flutter channel to use (stable, beta, dev, master)'
      flutter-version:
        type: string
        required: false
        default: '3.35.7'
        description: 'The Flutter version to use (e.g., 3.35.7)'
      line-length:
        type: number
        required: false
        default: 80
        description: 'The line length for dart format check'
      pub-cache-name:
        type: string
        required: false
        default: pub
        description: 'The name of the pub cache variable'
      threshold:
        type: number
        required: false
        default: 50
        description: 'The minimum coverage threshold percentage'


permissions:
  contents: read
  actions: read
  checks: write
  id-token: write


jobs:
  checkout:
    name: "Checkout"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    env:
      pub-cache-name: ${{ inputs.pub-cache-name }}
      threshold: ${{ inputs.threshold }}
    timeout-minutes: 15
    steps:
      - name: Get the .github actions
        uses: actions/checkout@v4
        id: checkout
        timeout-minutes: 1
        with:
          submodules: recursive

      - name: Install flutter
        uses: subosito/flutter-action@v2
        id: install-flutter
        timeout-minutes: 5
        with:
          channel: ${{ inputs.flutter-channel }}
          flutter-version: ${{ inputs.flutter-version }}

      - name: Install lcov
        if: runner.os == 'Linux'
        id: install-lcov
        timeout-minutes: 3
        run: |
          sudo apt-get update -y
          sudo apt-get install -y --no-install-recommends lcov
          lcov --version

      - name: Check flutter version
        id: check-flutter-version
        timeout-minutes: 1
        run: flutter --version

      - name: Restore pub modules
        id: cache-pub-restore
        timeout-minutes: 3
        uses: actions/cache/restore@v4
        with:
          path: |
            $PWD/.pub_cache/
          key: ${{ runner.os }}-pub-${{ env.pub-cache-name }}-${{ hashFiles('**/pubspec.yaml') }}

      - name: Export pub cache directory
        id: export-pub-cache
        timeout-minutes: 1
        run: |
          echo "PUB_CACHE=$PWD/.pub_cache/" >> "$GITHUB_ENV"
          echo "$HOME/.pub-cache/bin" >> "$GITHUB_PATH"

      - name: Save pub modules
        id: cache-pub-save
        timeout-minutes: 3
        uses: actions/cache/save@v4
        with:
          path: |
            $PWD/.pub_cache/
          key: ${{ runner.os }}-pub-${{ env.pub-cache-name }}-${{ hashFiles('**/pubspec.yaml') }}

      - name: Check content
        id: check-files
        timeout-minutes: 3
        uses: andstor/file-existence-action@v1
        with:
          files: "README.md, CHANGELOG.md, CONTRIBUTING.md, LICENSE, example"

      - name: File exists
        if: steps.check-files.outputs.files_exists == 'true'
        run: echo Content is ok!

      - name: Check description
        id: check-description
        timeout-minutes: 1
        run: echo | grep -q Description README.md ; echo $?

      - name: Check example
        id: check-example
        timeout-minutes: 1
        run: echo | grep -q Example README.md ; echo $?

      - name: Install dependencies
        id: install-dependencies
        timeout-minutes: 5
        run: flutter pub get --no-example

      - name: Run dependency validator
        id: dependency-validator
        timeout-minutes: 3
        run: |
          dart pub global activate dependency_validator
          dart pub global run dependency_validator:dependency_validator

      - name: Check format
        id: check-format
        timeout-minutes: 3
        run: |
          find lib test \
          -path '*/generated/*' -prune -o \
          -type f -name '*.dart' \
          ! -name '*.*.dart' \
          ! -name 'messages_.*.dart' \
          ! -name 'l10n.dart' \
          -print0 |
          xargs -0 dart format --set-exit-if-changed --line-length ${{ inputs.line-length }} -o none

      - name: Check analyzer
        id: check-analyzer
        timeout-minutes: 5
        run: dart analyze --fatal-infos --fatal-warnings lib/ test/