name: "Checkout"


on:
  workflow_call:
  workflow_dispatch:


jobs:
  checkout:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    # env:
    #   pub-cache-name: pub
    #   threshold: 50
    timeout-minutes: 15
    steps:
      - name: Get latest code
        id: checkout
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            .github
            lib
            test
            CHANGELOG.md
            pubspec.yaml
            analysis_options.yaml

      # - name: Install flutter
      #   uses: subosito/flutter-action@v2
      #   id: install-flutter
      #   with:
      #     channel: 'stable'
      - name: Setup dependencies
        id: setup-dependencies
        timeout-minutes: 5
        uses: ./.github/actions/setup
        # with:
          # flutter-version: 3.35.3
          # pub-cache: app

      - name: Check flutter version
        id: check-flutter-version
        timeout-minutes: 1
        run: flutter --version

      # - name: Restore pub modules
      #   id: cache-pub-restore
      #   uses: actions/cache/restore@v4
      #   with:
      #     path: |
      #       $PWD/.pub_cache/
      #     key: ${{ runner.os }}-pub-${{ env.pub-cache-name }}-${{ hashFiles('**/pubspec.yaml') }}

      # - name: Export pub cache directory
      #   id: export-pub-cache
      #   timeout-minutes: 1
      #   run: |
      #     export PUB_CACHE=$PWD/.pub_cache/
      #     export PATH="$PATH":"$HOME/.pub-cache/bin"
      #     echo "${HOME}/.pub-cache/bin" >> $GITHUB_PATH

      - name: Install lcov
        id: install-lcov
        timeout-minutes: 2
        run: |
          apt-get update && apt-get install -y lcov
        # flutter pub get --no-example

      # - name: Save pub modules
      #   id: cache-pub-save
      #   uses: actions/cache/save@v4
      #   with:
      #     path: |
      #       $PWD/.pub_cache/
      #     key: ${{ runner.os }}-pub-${{ env.pub-cache-name }}-${{ hashFiles('**/pubspec.yaml') }}

      - name: Check content
        id: check_files
        uses: andstor/file-existence-action@v1
        with:
          files: "README.md, CHANGELOG.md, CONTRIBUTING.md, LICENSE, example"

      - name: File exists
        if: steps.check_files.outputs.files_exists == 'true'
        run: echo Content is ok!

      - name: Check description
        run: echo | grep -q Description README.md ; echo $?

      - name: Check example
        run: echo | grep -q Example README.md ; echo $?

      - name: Check installation
        run: echo | grep -q Installation README.md ; echo $?

      - name: Install dependencies
        run: flutter pub get

      - name: Run dependency validator
        run: |
          dart pub global activate dependency_validator
          dart pub global run dependency_validator:dependency_validator

      - name: Check format
        id: check_format
        run: dart format --set-exit-if-changed -l 80 -o none lib/ test/

      - name: Check analyzer
        id: check_analyzer
        run: dart analyze --fatal-infos --fatal-warnings lib/ test/