name: "Checkout"


on:
  workflow_call:
    inputs:
      flutter-channel:
        type: string
        required: false
        default: 'stable'
      flutter-version:
        type: string
        required: false
        default: '3.35.7'
      line-length:
        type: number
        required: false
        default: 80
      pub-cache-name:
        type: string
        required: false
        default: pub
  workflow_dispatch:
    inputs:
      flutter-channel:
        type: string
        required: false
        default: 'stable'
        description: 'The Flutter channel to use (stable, beta, dev, master)'
      flutter-version:
        type: string
        required: false
        default: '3.35.7'
        description: 'The Flutter version to use (e.g., 3.35.7)'
      line-length:
        type: number
        required: false
        default: 80
        description: 'The line length for dart format check'
      pub-cache-name:
        type: string
        required: false
        default: pub
        description: 'The name of the pub cache variable'


permissions:
  contents: read
  actions: read
  checks: write
  id-token: write


jobs:
  checkout:
    name: "Checkout"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    timeout-minutes: 15
    steps:
      - name: Get the .github actions
        uses: actions/checkout@v4
        id: checkout
        timeout-minutes: 1
        with:
          submodules: recursive

      - name: Prepare pub cache
        id: prepare_pub_cache
        timeout-minutes: 1
        run: |
          mkdir -p ./.pub_cache
          echo "PUB_CACHE=${{ github.workspace }}/.pub_cache" >> "$GITHUB_ENV"
          echo "${{ github.workspace }}/.pub_cache/bin" >> "$GITHUB_PATH"

      - name: Restore pub modules
        id: cache-pub_restore
        timeout-minutes: 3
        uses: actions/cache/restore@v4
        with:
          path: ./.pub_cache
          key: ${{ runner.os }}-${{ inputs.pub-cache-name }}-${{ hashFiles('**/pubspec.yaml') }}
          restore-keys: |
            ${{ runner.os }}-${{ inputs.pub-cache-name }}-

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        id: install_flutter
        timeout-minutes: 5
        with:
          channel: ${{ inputs.flutter-channel }}
          flutter-version: ${{ inputs.flutter-version }}

      - name: Check Flutter version
        id: check_flutter_version
        timeout-minutes: 1
        run: flutter --version

      - name: Install Lcov
        if: runner.os == 'Linux'
        id: install_lcov
        timeout-minutes: 3
        run: |
          sudo apt-get update -y
          sudo apt-get install -y --no-install-recommends lcov
          lcov --version

      - name: Export pub cache directory
        id: export_pub_cache
        timeout-minutes: 1
        run: |
          echo "PUB_CACHE=$PWD/.pub_cache/" >> "$GITHUB_ENV"
          echo "$HOME/.pub-cache/bin" >> "$GITHUB_PATH"

      - name: Save pub modules
        id: cache_pub_save
        timeout-minutes: 3
        uses: actions/cache/save@v4
        with:
          path: ./.pub_cache
          key: ${{ runner.os }}-${{ inputs.pub-cache-name }}-${{ hashFiles('**/pubspec.yaml') }}

      - name: Check content
        id: check_files
        timeout-minutes: 3
        uses: andstor/file-existence-action@v1
        with:
          files: "README.md, CHANGELOG.md, CONTRIBUTING.md, LICENSE, example"

      - name: File exists
        if: steps.check_files.outputs.files_exists == 'true'
        run: echo Content is ok!

      - name: Check description
        id: check_description
        timeout-minutes: 1
        run: echo | grep -q Description README.md ; echo $?

      - name: Check example
        id: check_example
        timeout-minutes: 1
        run: echo | grep -q Example README.md ; echo $?

      - name: Install dependencies
        id: install_dependencies
        timeout-minutes: 5
        run: flutter pub get --no-example

      - name: Run dependency validator
        id: dependency_validator
        timeout-minutes: 3
        run: |
          dart pub global activate dependency_validator
          dart pub global run dependency_validator:dependency_validator

      - name: Check format
        id: check_format
        timeout-minutes: 3
        run: |
          find lib test \
          -path '*/generated/*' -prune -o \
          -type f -name '*.dart' \
          ! -name '*.*.dart' \
          ! -name 'messages_.*.dart' \
          ! -name 'l10n.dart' \
          -print0 |
          xargs -0 dart format --set-exit-if-changed --line-length ${{ inputs.line-length }} -o none

      - name: Check analyzer
        id: check_analyzer
        timeout-minutes: 5
        run: dart analyze --fatal-infos --fatal-warnings lib/ test/